@import "~react-image-gallery/styles/css/image-gallery.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    color: #3d464d;
}

a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
    text-decoration: none;
}
:root {
    --background-color: #50a01c;
    --text-hover: #f2f2f2;
    --background-hover: #a8cf8e;
    --yellow: #ffc107;
    --green: #28a745;
    --gray: #6c757d;
    --primary: #007bff;
    --red: #dc3545;
    --text-color: #3d464d;
}
